{% extends 'base.html' %}
{% block content %}

    {% if user.is_active %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit">Post</button>
        </form>
    {% endif %}

    {% for post in posts %}
        <p>{{ post.text }}</p>
        <b>{{ post.date }}</b> - {{ post.user }}
        {% if user.is_active %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="number" hidden name="id_parent" value="{{ post.id }}">
            <button type="submit">Comment</button>
            </form>
        {% endif %}
    {% endfor %}
{% endblock content %}